.contact {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #996699;
    max-width:100%;
  
  }
  
  .contact2 {
    box-sizing: border-box;
  
    padding-left: 30em;
    padding-right: 30em;
  }