
.Skillset {
    box-sizing: border-box;
    padding-top: 7em;
    padding-bottom: 7em;
    background-color: #212529;
    max-width: 100%;
  }
  .imgSkill {
    margin: 3em;
    width: 150px;
  }
  
//   .image-shadow:after {
//     opacity: 0.9;
//     content: "";
//     width: 100%;
//     height: 100%;
//     background-image: inherit;
//     background-size: cover;
//     z-index: -1;
//     transition: filter 0.3s ease;
//   }
  
//   .image-shadow {
//     height: auto;
//     width: 70%;
//     border-radius: 10px;
//     background-size: cover;
//   }
  
//   .js-tilt-container {
//     transition: transform 0.1s ease;
//     transform: rotateX(0) rotateY(0);
//     transform-style: preserve-3d;
//   }
  