html {
  font-size: 10px;
  font-family: Helvetica;
}

.navbar {
  background-color: #212529;
  color: white;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 9999;
@media (min-width:700px)
{.navbar {
    background-color: #2994ff;
    color: white;
    height: 40px;
    position: fixed;
    width: 100%;
    z-index: 9999;
  }
}

}

.navbar-2 {
  background-color: #000e14;
}

.navbar-3 {
  background-color: #212529;
}

.nav {
  color: white;
  text-decoration: none;
  padding-top: 0.2em;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.nav-2 {
  color: rgb(97, 255, 19);
}
.nav-3 {
  color: rgb(255, 255, 255);
}

.nav:hover {
  color: rgb(255, 255, 255);
}

.navbar > .opcionesUl {
  display: flex;
}

.opciones {
  padding-left: 40px;
  padding-right: 40px;
  list-style: none;
  margin: 0 0.75rem;
}

.home {
  height: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 6s ease infinite;
  box-sizing: border-box;
  max-width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#home {
  justify-content: right;
}

.imgPrincipal {
  width: 50%;
}

.imgP {
  padding-top: 5em;
  width: 95%;
  height: auto;
}

.me {
  text-transform: uppercase;
  color: white;
}

.me2 {
  text-transform: uppercase;
  font-size: 3rem;
  background-color: #212529;
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 0.5em;
  width: 80%;
}
/*ABOUT DIV*/

.aboutDiv {
  background-color: rgb(6, 54, 78);
  height: 100vh;
}

.mephoto {
  height: 550px;
}

.padre {
  background: yellow;
  height: 1500px;
}
.hijo {
  width: 50px;
  height: 50px;
  background-color: rgb(0, 94, 63);
}

.contenedor {
  height: 500px;
  background-color: aqua;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.hijo1 {
  width: 50px;
  height: 50px;
  background-color: rgb(98, 45, 45);
}

.photo {
  position: absolute;
  display: block;
}

.photo img {
  object-fit: cover;
  filter: grayscale(100%) contrast(100%);
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: -10px;
}

.photo:hover img {
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.photo .glow-wrap {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  margin-top: -10px;
  top: 0;
}

.photo .glow {
  top: 0;
  position: absolute;
  width: 40%;
  height: 200%;
  background: rgba(255, 255, 255, 0.2);
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover .glow {
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover img,
.photo:hover .glow-wrap {
  margin-top: 0;
}

.textAboutMe {
  color: white;
}

.Skillset {
  box-sizing: border-box;

  padding-top: 7em;
  padding-bottom: 7em;
  background-color: #212529;
  max-width: 100%;
}
.imgSkill {
  margin: 6em;
}


.image-shadow:after {
  opacity: 0.9;
  content: "";
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  z-index: -1;
  transition: filter 0.3s ease;
}

.image-shadow {
  height: auto;
  width: 70%;
  border-radius: 10px;
  background-size: cover;
}

.js-tilt-container {
  transition: transform 0.1s ease;
  transform: rotateX(0) rotateY(0);
  transform-style: preserve-3d;
}

.img-res {
  display: block;
  max-width: 100%;
  max-height: auto;
  width: 100%;
  height: auto;
  
 
  object-fit: cover;
}

.work {
  position: absolute;
  top: 108%;
  padding-right: 7%;
  padding-left: 12%;
  box-sizing: border-box;
  max-width: 1900px;
}

.work-item {
  height: auto;
  width: 90%;
  margin-bottom: 4em;
  padding: 0px 0px 0px 0px;
  position: relative;
}

.work-item:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
}

.work-item:hover:before {


  background-color: rgba(33, 33, 33, 0.6);


}

.work-item:hover .workItemInfo {
  left: 50px;
  opacity: 1;
}

.workItemInfo {
  position: absolute;
  top: 150px;
  left: 0px;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
}

.portfolio-item:hover .workItemInfo {
  left: 50px;
  opacity: 1;
}

.workItemInfo h4 {
  margin: 0 0 20px;
  font-weight: 700;
  color: #fff;
}

.workItemInfo a {
  color: rgb(0, 0, 0);
  padding: 6px 7px 4px;
  font-size: 12px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50px;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out,
    background-color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.workItemInfo a:hover {
  color: #000000;
  background-color: rgb(0, 0, 0);
}
.fa {
  color: white;
}

.fa-window-close {
  color: rgb(255, 255, 255);
  font-size: 35px;
  background-color: #000000;
  line-height: 20px;
}

.contact {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #996699;
  max-width:100%;

}

.contact2 {
  box-sizing: border-box;

  padding-left: 30em;
  padding-right: 30em;
}

.btn-form:hover {
  background-color: black;
  color: white;
}

.form-group {
  text-align: left;
}
.form-group label {
  padding: 10px 0px;
}

.form-control {
  background-color: #e8e8e8;
  color: #495057;
  box-shadow: none;
  font-size: 1rem;
  line-height: 1.43;
  -webkit-box-shadow: 0 0 0 0px white inset !important;
  min-height: 3.5em;
  padding: 1.07em 0.5em;
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1.3rem;
  line-height: 1.25;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  transition: border-color ease-in-out 0.3s, box-shadow ease-in-out 0.15s;
}

.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-control::focus {
  color: green;
  background-color: red;
}
.form-control-label {
  margin-right: auto;
  font-size: 2rem;
  color: #ffffff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.h1Div {
  font-size: 5rem;
  color: #000000;
}

.modal {
  z-index: 9999;
}

.modal-header {
  position: relative;
  padding: 0;
  height: 500px;
}

.modal-header .close {
  right: 0;
  top: 6px;
  position: absolute;
  opacity: 1;
  transition: box-shadow 0.25s ease-in-out;
  -moz-transition: box-shadow 0.25s ease-in-out;
  -webkit-transition: box-shadow 0.25s ease-in-out;
  -o-transition: box-shadow 0.25s ease-in-out;
  -ms-transition: box-shadow 0.25s ease-in-out;
}

.modal-header .close:hover {
  box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.2);
}

.modal-body h4 {
  font-weight: 700;
}

.modal-footer {
  text-align: center;
}
